.everyUser{
    color: white;
    
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}

.user p{
    margin-left: 30px;
}
.user h3{
    margin-left: 30px;
}

.AllUser{
    background-color: #c4e7d4;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    
    
}
.everyDonation{
    background-color: #04052E;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.AllDonations{
    background-color: #c4e7d4;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.AllUser button{
    width: 100px;
    height: 40px;
    border-radius: 80px;
    background-color: #04052E;
    color: white;
    border: 0px solid ;
}

.AllUser button:hover{
    background-color:#B9C0DA  ;
    cursor: pointer;
}
.searchPage{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.box-5{
    background-color: #c4e7d4;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: black;
}
.user-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #c4e7d4;
    margin-top: 20px;
    border-radius: 29px;
}
.user-2 p{
    margin-left: 30px;
}
.user-2 h3{
    margin-left: 30px;
}
.AllUser-dashboard{
    background-color: #c4e7d4;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    height: 200px;
    
}
.AllUser-dashboard button{
    width: 100px;
    height: 40px;
    border-radius: 80px;
    background-color: #04052E;
    color: white;
    border: 0px solid ;
}

.AllUser-dashboard button:hover{
    background-color:#B9C0DA  ;
    cursor: pointer;
}

.user-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #c4e7d4;
    margin-top: 20px;
    border-radius: 29px;
}
.Accept button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 20px;
}
.Accept button:hover{
    cursor: pointer;
    background-color: #c4e7d43b;
    
}

.donation-dashboard{
    background-color: #c4e7d4;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    height: 200px;
}

.donation-dashboard button{
    width: 100px;
    height: 40px;
    border-radius: 80px;
    background-color: #04052E;
    color: white;
    border: 0px solid ;
}
.donation-dashboard button:hover{
    background-color:#B9C0DA  ;
    cursor: pointer;
}

.AllDonations button{
    width: 100px;
    height: 40px;
    border-radius: 80px;
    background-color: #04052E;
    color: white;
    border: 0px solid ;
}

.AllDonations button:hover{
    background-color:#B9C0DA  ;
    cursor: pointer;
}

.everyDonation button{
    width: 100px;
    height: 40px;
    border-radius: 80px;
    background-color: #c4e7d4;
    color: white;
    border: 0px solid ;
}
.everyDonation button:hover{
    background-color:#B9C0DA  ;
    cursor: pointer;
}

.donation-search-Cart{
    background-color: #c4e7d4;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    height: 400px;
}

.donation-search-Cart-container{
    background-color: #04052E;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 20px;
}