.login{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
    
}
.link{
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.box{
    background-color: #c4e7d4;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}

.login h1 {
    margin-bottom: 50px;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login form label{
    margin-bottom: 10px;
}
.login form input{
    margin-bottom: 20px;
    
}
#submit{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid white;
}
#submit:hover{
    background-color: #c4e7d47a;
}

.login form p{
    color: red;
}