.posts-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-cart {
    background-color: #c4e7d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top:50px;

    width: 500px;
    margin-bottom: 50px;
}

.post-cart div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
}
.createPost{
    margin-top: 30px;
}

.createPost button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.createPost button:hover{
    cursor: pointer;
    background-color: #c4e7d43b;
}
.post-cart-1 {
    background-color: #04052E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top:50px;
    color: white;
    width: 500px;
    margin-bottom: 50px;
}
.Accept{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



